/build/
/build-batch4/
/build-local/
/out/
/.vs/
/.docx_qa/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
Testing/

*.user
*.suo
*.VC.db
*.obj
*.pdb
*.ilk
*.exe
aqtinstall.log
db-migrations/*.local.sql
